<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Search")}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="ng-tns-c344-19 container-fluid">
                    <div class="card card-custom gutter-b ng-tns-c344-19">
                        <div class="card-body ng-tns-c344-19">
                            <div class="input-group ng-tns-c344-19">
                                <input placeholder="Nhập tên sách để tìm kiếm" class="form-control ng-tns-c344-19 ng-pristine ng-valid ng-touched" />
                                <button class="btn btn-primary ng-tns-c344-19">{{l("Search")}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="primeng-no-data" >
                       Không có dữ liệu
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
